{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block header %}
<div class="fixed top-0 z-10 flex flex-wrap items-center justify-between w-full p-6 bg-gray-400 opacity-95">
    <nav class="flex items-center flex-shrink-0 mr-6">
        <a class="duration-500 hover:text-white" href="{% url "main:index" %}">
            <span class="pl-2 text-2xl"> Auto Coding</span>
        </a>
    </nav>
    <nav class="flex-grow hidden w-full pt-6 md:flex md:items-center md:w-auto md:pt-0" id="nav-content">
        <ul class="items-center justify-end flex-1 list-reset md:flex">            
                <li id="start-link" class="mr-3">
                    <a class="inline-block px-4 py-2 text-gray-800 duration-500 hover:text-gray-200"
                        href="{% url "board:postlist" %}">커뮤니티</a>
                    </li>
                <li id="start-link" class="mr-3">
                        <a class="inline-block px-4 py-2 text-gray-800 duration-500 hover:text-gray-200"
                            href="{% url "accounts:login" %}">로그인</a>
                </li>  
        </ul>
    </nav>
    <div class="block md:hidden">
        <button id="nav-toggle"
            class="flex items-center px-3 py-2 text-gray-500hover:text-white hover:border-white">
            <svg class="w-5 h-5 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
        </button>
    </div>
</div>      

{% endblock  %}
{% block content %}
<section class="">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <h1 class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            Auto Coding  
        </h1>
        <div class="w-full bg-white rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    회원가입
                </h2>
                <form class="space-y-4 md:space-y-6" action="" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="{{ form.username.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">아이디</label>
                        {{form.username|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 아이디"}}
                    </div>
                    <div>
                        <label for="{{ form.password1.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">비밀번호</label>
                        {{form.password1|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 비밀번호"}}
                    </div>
                    <div>
                        <label for="{{ form.password2.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900">비밀번호 확인</label>
                        {{form.password2|add_class:"bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"|attr:"placeholder: 비밀번호 확인"}}
                    </div>

                    <button type="submit" class="w-full text-white bg-blue-500 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">회원가입</button>
                    <p class="text-sm font-light text-gray-500">
                        계정이 있으신가요? <a href="{% url "accounts:login" %}" class="font-medium text-blue-500 hover:underline ">로그인</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>
  {% endblock  %}

  {% block footer %}
  <footer class="flex flex-row items-center justify-between w-full px-12 py-3 mt-20" style="background-color:#ddd;">
      <p class="text-sm font-bold">Copyright © Auto Coding 2023</p>
      <nav>
          <div class="flex flex-row gap-10 text-md">
              <div class="rounded-full">
                  <a href="https://www.instagram.com/yong.9_9/" target="_blank">
                      <img class="w-10" src="{% static "asset/img/instagram.png" %}" alt="인스타그램">
                  </a>
              </div>
              <div class="rounded-full">
                  <a href="https://github.com/HiImYong99" target="_blank">
                      <img class="w-10" src="{% static "asset/img/github.png" %}" alt="깃허브">
                  </a>
              </div>
          </div>
      </nav>
  </footer>
  {% endblock  %}
  